/* pour le tout  */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
body{
    overflow-x: hidden;
}
p{
    margin-bottom: 0;
    font-size: 14px;
}

:root{
    --Rouge:#B11313;
    --jaune:#f1c530;
    --blanc:#FFFF;
    --bleu:#114C92;
    --noir:#000000;

}

@font-face {
    font-family: 'FarFromHomecoming';
    src: url(Assets/Far-From\ Homecoming\ Updated.otf);
}
/* pour le nav  */
nav{
    background-color: var(--jaune);
    padding: 20px;
   
}
nav div img {
    padding-left: 10px;
}

nav ul{
    list-style: none;
    color: var(--blanc);
    font-weight: 400;
}
/* pour le header  */
header {
    background-image: url(Assets/Illustration/img7.png);
    padding-left: 8%;
    
}
header h1 {
    font-family: 'FarFromHomecoming' ;
    color: var(--blanc);
    font-size: 100px;
    margin-top: 250px;
}
header p {
    font-family: 'Montserrat', sans-serif;
    color: var(--blanc);
    font-size: 30px;
    font-weight: 600;
    text-shadow: 2px 2px var(--noir);
    padding-bottom: 170px;
}

/* pour le section  */
section {
    background-color: var(--jaune);
    padding: 80px;
    text-align: center;

}

figure{
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 30px;
}
figcaption{
    font-family: 'Montserrat', sans-serif;
    margin: 0 auto;
    width: 324px;
    height: 340px;
    border-bottom:9px solid;
    border-right:9px solid;
    border-left:9px solid;
    border-radius: 0px 0px 20px 20px;
    text-align: left;
    padding: 0 20px 10px 20px; 
    line-height: 25px;
}
figcaption h4 {
    text-align: center;
    font-weight: 700;
}
figcaption p {
    font-size: 13px;
}
figcaption p span{
    font-weight: bold;
}



/* pour le footer  */
footer {
    background-color: var(--noir);
    font-family: 'Montserrat', sans-serif; 
    padding-top: 50px;
    padding-bottom: 30px;
    width: 100%;
}
footer ul {
    list-style: none;
    text-align: center;
    align-items: center;
    color: var(--blanc);
    margin-left: 80px;
}
footer ul li {
   padding: 0 20px 0 20px;
   font-size: 13px;
   
}
.select{
    background-color: var(--jaune);
    color: var(--blanc);
    border: solid var(--noir);
    width: 100%;
    padding: 2px 40px 2px 5px ;
    border-radius: 20px; 
}

footer div {
    text-align: center;
}
footer div i img {
    background-color: var(--jaune);
    border-radius: 20px;
    padding: 10px ;
    margin: 80px 10px 20px 10px;
}
footer p {
    font-family: 'Montserrat', sans-serif; 
    text-align: center;
    color: var(--blanc);
}
