/* pour le responsive  */
@media screen and (max-width:768px)  {
    /* pour le navigation  */
    nav{
        padding-left: 10px;
    }
    nav ul li {
        display: none;
    }
    /* pour le section  */
    section {
        background-size: cover;
        overflow: hidden;
    }
    section h1{
        font-size: 50px;
        margin-top: 20px;

    }
    section p {
        margin-top: 0;
        margin-bottom: 30px;
    }
     /* pour le footer  */
     footer div i img {
        margin: 20px 10px 20px 10px;
    }
    .mobile3 ul{
        text-align: left;
        padding-right: 290px;
        margin-left: 10px;
    }
    .mobile div {
        text-align: left;
        padding-left: 150px;
    }
}
@media screen and (max-width:648px)  {
    * pour le footer  */
    footer div i img {
        margin: 20px 10px 20px 10px;
    }
    .mobile3 ul{
        text-align: left;
        padding-right: 190px;
        margin-left: 10px;
    }
    .mobile div {
        text-align: left;
        padding-left: 100px;
    }
}
@media screen and (max-width:586px)  {
     /* pour le footer  */
     footer div i img {
        margin: 20px 10px 20px 10px;
    }
    .mobile3 ul{
        text-align: left;
        padding-right: 160px;
        margin-left: 5px;
    }
    .mobile div {
        text-align: left;
        padding-left: 80px;
    }
}