/* pour le responsive  */
@media screen and (max-width:768px)  {
    /* pour le navigation  */
    nav{
        background: transparent;
        position: absolute;
        padding-left: 60px;
    }
    nav ul li {
        display: none;
    }
    /* pour le premier contenu  */
    header {
        background-position: 50% 10%;
        padding-left: 10px;
    }
    header h1{
        font-size: 42px;
    }
    header p {
        font-size: 19px;
        margin-top: 0;
    }
    /* pour le contenu contien de video  */
    .video {
        text-align: center;
        padding: 5px;
    }

    .row {
        display: block;
        text-align: center;
    }
    video {
        padding-right: 0;
    }
    .text {
        margin-top: 10px;
        margin-left: 0;
        margin-bottom: 20px;
        padding: 40px;
    }
    /* pour le fondation  */
    .fondations {
        padding-left: 0;
        padding: 10px;
        text-align: center;
        height: 60vh;
    }

    /* pour le section jamais seul  */
    .seul {
        text-align: center;
    }
    .seul p {
        text-align: center;
    }
    .row-peter {
        display: block;
        text-align: center;
    }
    .meilleur{
        margin-left: 0;
    }
    .peter{
        position: sticky;
    }
    .parker{
        position: sticky;
        transform: translate(0);
        width: 80%;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .invisible h1 {
        margin-top: 50px;
        text-align: left;
    }
    .stacy {
        text-align: left;
        padding-bottom: 30px;
    }
    .fille {
        width: 40%;
        margin-top: 20px;
    }
    /* pour le footer  */
    footer div i img {
        margin: 20px 10px 20px 10px;
    }
    .mobile3 ul{
        text-align: left;
        padding-right: 190px;
        margin-left: 10px;
    }
    .mobile div {
        text-align: left;
        padding-left: 100px;
    }

}