/* pour le tout  */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
body{
    overflow-x: hidden;
}
p{
    margin-bottom: 0;
    font-size: 14px;
}
a {
    color: var(--blanc);
    text-decoration: none;
}
a:hover {
    color: var(--blanc);
}


:root{
    --Rouge:#B11313;
    --jaune:#f1c530;
    --blanc:#FFFF;
    --bleu:#114C92;
    --noir:#000000;

}

@font-face {
    font-family: 'FarFromHomecoming';
    src: url(Assets/Far-From\ Homecoming\ Updated.otf);
}
/* pour le nav  */
nav{
    background-color: var(--Rouge);
    padding: 20px;
   
}
nav div img {
    padding-left: 10px;
}

nav ul{
    list-style: none;
    color: var(--blanc);
    font-weight: 400;
}

/* pour le section  */
section {
    background-image: url(../Illustration/img35.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom ;
    padding: 50px;

}
h1{
    font-family: 'FarFromHomecoming';
    font-size: 80px;
    color: var(--blanc);
    margin-top: 200px;
}
section p{
    font-family: 'Montserrat', sans-serif;
    color: var(--blanc);
    margin-bottom: 0;
    margin-top: 80px;
    font-size: 30px;
    font-weight: 500;
}
/* pour le footer  */
footer {
    background-color: var(--noir);
    font-family: 'Montserrat', sans-serif; 
    padding-top: 50px;
    padding-bottom: 30px;
    width: 100%;
}
footer ul {
    list-style: none;
    text-align: center;
    align-items: center;
    color: var(--blanc);
    margin-left: 80px;
}
footer ul li {
   padding: 0 20px 0 20px;
   font-size: 13px;
   
}
.select{
    background-color: var(--Rouge);
    color: var(--blanc);
    border: solid var(--noir);
    width: 100%;
    padding: 2px 40px 2px 5px ;
    border-radius: 20px; 
}

footer div {
    text-align: center;
}
footer div i img {
    background-color: var(--Rouge);
    border-radius: 20px;
    padding: 10px ;
    margin: 80px 10px 20px 10px;
}
footer p {
    font-family: 'Montserrat', sans-serif; 
    text-align: center;
    color: var(--blanc);
}